<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
  </head>
  <body style= "display: flex; justify-content: center; align-items: center; height: 98vh; background-image: linear-gradient(45deg, black, crimson);">
    <div id="container">
        <h1>Calculadora RKL</h1>
    <header class="header">
        <form name="calc" style= "border-radius: 3px; background-color: grey">

            <input type="text" id="display" value="" disabled style= "width: 235px; background-color: white ;margin: 2px""><br/>
          
            <input type="button" value="7" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="8" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="9" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="*" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
        <br/>
        
            <input type="button" value="4" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="5" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="6" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="-" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
        <br/>
        
            <input type="button" value="1" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="2" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="3" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="+" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
        <br/>
        
            <input type="button" value="C" onclick="limparDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="0" onclick="atualizarDisplay(value)" style= "width: 55px; height: 55px; margin: 2px" />
            <input type="button" value="=" onclick="calcularOperacao(value)" style= "width: 55px; height: 55px; background-color:crimson; margin: 2px" />
            <input type="button" value="/" onclick="atualizarDisplay(value)"  style= "width: 55px; height: 55px; margin: 2px" />
        <br/>
    </form>
    <script>
        function atualizarDisplay(num){ 
            var  salvo= document.calc.display.value;
            document.calc.display.value = salvo + num ; 
        }
        function limparDisplay(){
            document.getElementById("display").value= '';
        }

        function calcularOperacao(){ 
             var resul = 0;
             resul = document.getElementById('display').value;  
            document.getElementById('display').value = eval (resul);
  
        }
    </script>
    </body>
    </html>