<!DOCTYPE html>
<html>
    <body>
  <head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
  </head>
  <body style= "display: flex; justify-content: center; align-items: center; height: 98vh; background-image: linear-gradient(45deg,crimson ,white)">
    <div id="ig" style="font-size: 45px;"></div>
    <div class="corpo-calc"> 
    <div id="container">
<h1>Calculadora RKL </h1> 
      <form name="calc" style= "border-radius: 3px; background-color: black">

        <input type="text" id="display" value="" disabled style = "width: 300px; height: 70px; background-color: rgb(128, 122, 122) ;margin: 2px"><br/>
        
          <input type="button" value="(" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value=")" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="C" onclick="limparDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="←" onclick="excluir(value)" style = "width: 115px; height: 55px; margin: 2px" />
      <br/>

          <input type="button" value="7" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="8" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="9" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="X&sup2" onclick="quadrado(value)"  style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="*" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
      <br/>
      
          <input type="button" value="4" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="5" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="6" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="√" onclick="Raiz(value)"  style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="-" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
      <br/>
          
          <input type="button" value="1" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="2" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="3" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="%" onclick="porcen(value)"  style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="+" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
      <br/>
  
          <input type="button" value="." onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px; font-weight: bold" />
          <input type="button" value="0" onclick="atualizarDisplay(value)" style = "width: 55px; height: 55px; margin: 2px" />
          <input type="button" value="=" onclick="calcularOperacao(value)" style = "width: 117px; height: 55px; background-color:crimson; margin: 2px" />
          <input type="button" value="/" onclick="atualizarDisplay(value)"  style = "width: 55px; height: 55px; margin: 2px" />
       </form>    
      </div>
    <link href="calc.css" type="text/css" rel="stylesheet">
    <script src="calc.js"></script>
