<!DOCTYPE html>
<html>
     <%- include ("calculadora.html") %>
    <head>        
    </head>
    <body>    
        <%- include ("calc.css") %>
        <script>
            <%- include ("calc.js") %>
        </script>
    </body>
</html>