<!DOCTYPE html>
<html>
     
    <head>        
    </head>
    <body>    
        
        <script>
<%- include ("calculadora.html") %>
            <%- include ("calc.css") %>
            <%- include ("calc.js") %>
        </script>
    </body>
</html>