<!DOCTYPE html>
<html>
     <%- include ("calculadora.html") %>
     <head>        
    </head>
    <style>
     <%- include ("calc.css") %>   
    </style>
    <body>    
        
        <script> 
            <%- include ("calc.js") %>
        </script>
    </body>
</html>